<!DOCTYPE html>
<html>
    <head>
        <title>\~~About Me~~/</title>
        <style>
            body{
                font-family: monospace;
                font-size: 26px;
                background-color: black;
                color: beige;
            }
            #header{
                background-color: darkblue;
                font-family: sans-serif;
                margin: -10px 0 0 -10px;
                padding: 40px;
                width: 100%;
                text-align: center;
            }
            #Details{
                position: relative;
                top: 30px;
                left: 42%;
            }
        </style>
    </head>
    <body>
        <h1 id = "header">About the Guy</h1>
        <div id="Details">
            <p id = "name">Name: Ayush Mandal</p>
            <p id = "Hobbies">Hobbies:
                <ol>
                    <li>Programming</li>
                    <li>Basketball</li>
                    <li>Electronic Music</li>
                    <li>Reading, I guess?</li>
                </ol>
            </p>
            <a href="./">Home</a>
        </div>
    </body>
</html>