<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <style>
            body{
                font-family: monospace;
                font-size: 26px;
                background-color: black;
                color: beige;
            }
            h1{
                background-color: darkblue;
                font-family: sans-serif;
                text-align: center;
                width: 100%;
                margin: -10px 0 0 -10px;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <h1>Hello, World!</h1>
        <p> This is the root page of the website.</p>
        <p> Here's the intro page <a href = "./about_me"> link </a></p>
    </body>
</html>